.circle :hover {
	-fx-border-color: green;
	-fx-background-color: purple;
}

.textField, .button {
	-fx-font-family : open-sans, sans-serif;
	-fx-font-size: 13px;
}

#sideLabel {
	-fx-text-alignment: center;
	-fx-font-size: 20px;
	-fx-font-weight: bold;
}