.button{
  -fx-font-family : open-sans, sans-serif;
  -fx-font-weight : bold;
  -fx-font-size : 18px;
  -fx-color : Grey;
  -fx-text-fill : White;
  -fx-border-width : 2px;
  -fx-border-radius : 11px;
  -fx-background-radius: 11px
}

.label{
  -fx-font-family : open-sans, sans-serif;
  -fx-font-weight : bold;
}