#pane {
  -fx-background-image: url("../../resources/images/title.png");
  -fx-background-repeat: stretch;
  -fx-background-size: 1920 1920;
  -fx-background-position: center center;
}

.button{
  -fx-font-family : open-sans, sans-serif;
  -fx-font-weight : bold;
  -fx-font-size : 18px;
  -fx-color : Grey;
  -fx-text-fill : White;
  -fx-border-width : 2px;
  -fx-border-radius : 11px;
  -fx-background-radius: 11px
}

.label{
  -fx-font-family : open-sans, sans-serif;
  -fx-font-weight : bold;
}